# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/
dist/
dist-ssr/

# Local env files
*.local
.env
.env.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.vs/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistema
.DS_Store
Thumbs.db

# PWA cache local
workbox-cache/

# Keep agents folder in git (documentation)
!agents/
